@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", serif;
    font-weight: 400;

    background-color: #1c1a1c;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

p, a, span {
    color: #bdbdbd;
}

button, .button {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    background-color: #f25243;
    padding: 16px 32px;

    border-radius: 14px;

    text-align: center;
}

.main {
    min-height: calc(100vh - 200px - 71px);
}

.none {
    display: none !important;
}